form {
    background: white;
    padding: 10px;
    border: 1px solid grey;
}

table {
    margin-left: auto;
    margin-right: auto;
    margin-top: 100px;
}

h1 {
    font-family: Instagram Sans;
}

.img1 {
    width: auto;
}

.img2 {
    width: 140px;
}

.img3 {
    width: 13px;
}

.submit {
    background-color: rgb(93, 91, 224);
    color: white;
    padding: 0.3em 5em;
}

.input {
    
}